.wrapper{
    display: flex;
    justify-content: space-between;
    border: 1px solid lavender;
    max-width: 500px;
    margin: 0 25px 15px;
    padding: 20px;
}
.locationItem{
    display: block;
    color: #fff;
    text-align: right;
}
.button{
    display: block;
    background-color: rgb(29, 69, 77);
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}
.remove{
    background-color: crimson;
}
.add{
    background-color: aquamarine;
}