.header{
  background-color: rgb(29, 69, 77);;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.container{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*margin: 0 auto;*/
  /*width: 1200px;*/
}
.logo{
  max-height: 40px;
}
.userLogin{
  display: flex;
  align-items: center;
}
.userImg{

}
.userImg img{
  max-height: 30px;
  border-radius: 50%;
  display: block;
  margin-left: 10px;
}
.userName{
  color: white;
}
.btn{
  display: block;
  padding: 20px;
  border: 1px solid #fff;
}