ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.app-wrapper{
  display: grid;
  grid-template-areas: 
  'n c'
  ;
  grid-template-columns: 2fr 10fr;
}
.container{
  max-width: 1600px;
  margin: 0 auto;
}
.app-wrapper-content{
  background-color: darkcyan;
}
.logo{
  width: 50px;
}
