.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.chats{
    padding-left: 30px;
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.windowDialog {
    background-color: rgb(29, 69, 77);
    padding: 20px;
    border-radius: 5px;
}
.textFromMe {
    margin-left: auto;
}